# mash of travis scripts from
# https://github.com/joerick/cibuildwheel/blob/master/.travis.yml
# https://github.com/pypa/python-manylinux-demo/blob/master/.travis.yml
notifications:
  email: false

matrix:
  include:
    - sudo: required
      services:
        - docker
      env: DOCKER_IMAGE=quay.io/pypa/manylinux1_x86_64
    - sudo: required
      services:
        - docker
      env: DOCKER_IMAGE=quay.io/pypa/manylinux1_i686
           PRE_CMD=linux32
    - os: osx
      env: PYTHON=python2
    - os: osx
      env: PYTHON=python3

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker pull $DOCKER_IMAGE; fi

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker run --rm -v `pwd`:/io $DOCKER_IMAGE $PRE_CMD /io/travis/build-wheels.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./travis/build-osx-wheels.sh; fi
  - ls wheelhouse/
